<nav class="nav-container">
    <div class="logo-section">
        <a routerLink="/home" class="brand font-vcr" (click)="closeMenu()">TESTMIND_</a>
    </div>

    <button class="hamburger-btn font-vcr" (click)="toggleMenu()">
        {{ isMenuOpen() ? '[X]' : '[=]' }}
    </button>

    <div class="nav-menu" [class.open]="isMenuOpen()">

        <ul class="nav-links">
            <li>
                <a routerLink="/home" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
                    {{ 'nav.home' | transloco }}
                </a>
            </li>
            <li>
                <a routerLink="/docs" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
                    {{ 'nav.documents' | transloco }}
                </a>
            </li>
            <li>
                <a routerLink="/tests" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
                    {{ 'nav.tests' | transloco }}
                </a>
            </li>
            @if(isAuthenticated()) {
            <li>
                <a routerLink="/creator" routerLinkActive="active-link" class="nav-item" (click)="closeMenu()">
                    {{ 'nav.newTest' | transloco }}
                </a>
            </li>
            }
        </ul>

        <div class="user-badge">
            @if (isAuthenticated()) {

            <div class="dropdown-wrapper">
                <button (click)="toggleUserMenu()" class="btn-user-trigger font-vcr">
                    {{ userNickname() }}
                    @if (isUserMenuOpen()) {
                        ▲
                    } @else {
                        ▼
                    }
                </button>

                <div class="dropdown-content tm-card tm-shadow-cyan" [class.desktop-open]="isUserMenuOpen()">
                    <span routerLink="/suscriptions" class="plan-tag font-pixel" (click)="closeUserMenu(); closeMenu()">
                        {{ 'nav.planTag' | transloco:{ nombrePlan: (userPlan() | getTier: listaPlanes()) } }}
                    </span>

                    <a routerLink="/profile" class="dropdown-item font-pixel" (click)="closeUserMenu(); closeMenu()">
                        > {{ 'nav.profile' | transloco }}
                    </a>

                    <hr class="dropdown-divider">

                    <button (click)="logout()" class="dropdown-item btn-logout-drop font-pixel">
                        [X] {{ 'nav.logout' | transloco }}
                    </button>
                </div>
            </div>

            } @else {
            <a routerLink="/login" routerLinkActive="active-link" class="nav-item btn-profile" (click)="closeMenu()">
                {{ 'nav.login' | transloco }}
            </a>
            }

            <div class="lang-selector">
                <app-lang-selector></app-lang-selector>
            </div>
        </div>

    </div>
</nav>