<section class="hero-section">
    <div class="hero-content-box">
        <h1 class="font-vcr">Transforma tus apuntes en evaluaciones en segundos</h1>
        <p>TestMind: Inteligencia artificial para la creación de tests educativos automáticos.</p>
        <div class="cta-buttons">
            <button class="btn-primary font-vcr" routerLink="/creator">Probar Ahora</button>
            <button class="btn-secondary font-vcr" routerLink="/register">Registrarse</button>
        </div>
    </div>
</section>

<section class="features-section">
    <h2 class="font-vcr section-title">¿Por qué TestMind?</h2>
    
    <div class="feature-grid">
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">Generación IA</h3>
            <p class="card-text">Análisis avanzado de documentos con IA.</p>
        </div>
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">Configuración</h3>
            <p class="card-text">Elige dificultad, tipo de pregunta y cantidad.</p>
        </div>
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">Exportación Moodle</h3>
            <p class="card-text">Interoperabilidad total con plataformas educativas.</p>
        </div>
    </div>
</section>