<section class="hero-section">
    <div class="hero-content-box">
        <h1 class="font-vcr">{{ 'home.title' | transloco }}</h1>
        <p>{{ 'home.subTitle' | transloco }}</p>
        <div class="cta-buttons">
            <button class="btn-primary font-vcr" routerLink="/creator">{{ 'home.btnCrearTest' | transloco }}</button>
            <button class="btn-secondary font-vcr" routerLink="/register">{{ 'home.registrarse' | transloco }}</button>
        </div>
    </div>
</section>

<section class="features-section">
    <h2 class="font-vcr section-title">{{ 'home.titleSection' | transloco }}</h2>
    
    <div class="feature-grid">
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">{{ 'home.card1.title' | transloco }}</h3>
            <p class="card-text">{{ 'home.card1.subTitle' | transloco }}</p>
        </div>
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">{{ 'home.card2.title' | transloco }}</h3>
            <p class="card-text">{{ 'home.card2.subTitle' | transloco }}</p>
        </div>
        <div class="tm-card tm-shadow-blue text-center">
            <h3 class="font-vcr card-title">{{ 'home.card3.title' | transloco }}</h3>
            <p class="card-text">{{ 'home.card3.subTitle' | transloco }}</p>
        </div>
    </div>
</section>