<div class="tm-card tm-shadow-blue voxel-card" (click)="onCardClick()">
    <div class="card-main-info">
        <h3 class="font-vcr">{{ test().titulo || 'Cuestionario Eliminado' }}</h3>
        <span class="category-tag font-pixel">
            {{ test().categoria_codigo | getCategoria: categorias() }}
        </span>
    </div>

    <div class="card-badge-zone">
        <span class="row-badge font-pixel" [class.badge-pass]="test().codigo_estado == 'pass'" [class.badge-neutral]="test().codigo_estado == 'pro'" [class.badge-fail]="test().codigo_estado == 'err'">
            {{ test().estado }}
        </span>
    </div>
</div>